# Created by https://www.gitignore.io/api/vagrant

### Vagrant ###
.vagrant/

# ignore JetBrains files
.idea

# Ignore downloaded files
www/default/database-admin/
www/default/memcached-admin/
www/default/opcache-status/
www/default/webgrind/
www/devsites/
www/passanger.txt
database/backups/
/www/wp-cli
!/log/README.md
/log